<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HighWinRateThreshold" value="0.6"/>
    <add key="StakeMultiplierThreshold" value="10"/>
    <add key="HighStakeMultiplierThreshold" value="30"/>
    <add key="HighWinningTreshold" value="1000"/>
  </appSettings>
</configuration>